@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    cursor: pointer;
}


/* NAVBAR */

#navbar{
    background-color: gray;
}

#navbar ul li{
    display: inline-block;
    padding: 18px 0px;
    padding-right: 10px;
}

#navbar ul{
    text-align: center;
}

#navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    border: 0.1px solid rgb(211, 210, 210);
    padding: 10px;
}

/* End NAVBAR */

/* Section 1 */

.sec1{
    background-image: url(images/1.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: -1.3%;
}

.sec1 h1{
    font-size: 50px;
}

.sec1 p{
    font-size: 18px;
    text-align: center;
}

/* End Section 1 */

/* Section 2 */

.div2x{
    margin: 3% 12%;
    width: auto;
    height: 1016px;
}

.div33{
    width: 31%;
    display: inline-flexbox;
    overflow: auto;
    float: left;
    background-color: rgb(226, 223, 223);
}

.div33 img{
    width:100%;
    height: 25vh;
}

.div33 h2, p, ul{
    padding: 5px;
    margin-bottom: 20px;
}

.div1, .div2{
    margin-right: 40px;
}

.div1 h2{
    color: green;
}

.div2 h2{
    color: blue;
}

.div3 h2{
    color: red;
}

.div33 ul{
    text-align: center;
}

.div1 ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    background-color: green;
    padding: 10px 15px;
}

.div2 ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    background-color: blue;
    padding: 10px 15px;
}

.div3 ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    background-color: red;
    padding: 10px;
}

.div50{
    margin-top: 4%;
}

.diva1{
    margin-right: 10%;
}

.div50{
    width: 45%;
    display: inline-flexbox;
    overflow: auto;
    float: left;
    background-color: rgb(226, 223, 223);
}

.div50 img{
    width:100%;
    height:35vh;
}

.div50 h2, p, ul{
    padding: 5px;
    margin-left: 3px;
    margin-bottom: 20px;
}

.div50 ul{
    text-align: center;
}

.diva1 ul li a{
    color: grey;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    background-color: white;
    padding: 10px 15px;
}

.diva2 ul li a{
    color: grey;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    background-color: white;
    padding: 10px 15px;
}

/* End Section 2 */

/* Section 3 */

.sec3{
    background-image: url(images/7.jpg);
    height: 300px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    box-sizing: border-box;
}

.sec3 h1{
    font-size: 40px;
}

.sec3 pre{
    font-size: 18px;
    text-align: center;
}

/* End Section 3 */

/* Section 4 */

.div4x{
    margin: 3% 12%;
    width: auto;
    height: 1170px;
}

.div25{
    width: 22%;
    display: inline-flexbox;
    overflow: auto;
    float: left;
    background-color: rgb(243, 240, 240);
    color: rgb(90, 89, 89);
}

.div25 img{
    width:100%;
    height: 25vh;
}

.div25 h2, p, ul{
    padding: 5px;
    margin-bottom: 20px;
}

.div4-1 , .div4-2 , .div4-3{
    margin-right: 4%;
}

.div25 ul{
    text-align: center;
}

.div25 ul li a{
    color: grey;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    background-color: white;
    padding: 10px 15px;
}

.div100{
    margin-top: 4%;
}

.div100{
    width: 100%;
    display: inline-flexbox;
    overflow: auto;
    float: left;
    background-color: rgb(243, 240, 240);
    color: rgb(90, 89, 89);
}

.div100 img{
    width:100%;
    height:50vh;
}

.div100 h2, p, ul{
    padding: 5px;
    margin-left: 3px;
    margin-bottom: 20px;
}

.div100 ul{
    text-align: left;
}

.div100 ul li a{
    color: grey;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    background-color: white;
    padding: 10px 15px;
}


/* End Section 4 */

/* Section 5 */

.c-form{
    margin-top: 7%;
    background-image: url(images/12.jpg);
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.c-form h1{
    font-size: 35px;
    color: white;
}

.c-form pre{
    font-size: 15px;
    text-align: center;
    color: black;
    background-color: white;
    opacity: 0.5;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 1%;
}

.c-form .entry{
    align-self: flex-start;
    padding-top: 2%;
    margin-left: 24%;
}

.c-form .entry input{
    width: 140%;
    font-size: 15px;
    text-align: left;
    color: black;
    background-color: white;
    opacity: 0.5;
    padding: 10px 15px;
    border-radius: 5px;
}

.c-form .send{
    align-self: flex-end;
    margin-right: 25%;
    margin-top: -10%;
    font-size: 15px;
    text-align: left;
    color: black;
    background-color: white;
    opacity: 0.3;
    border-radius: 5px;
}

#btn button{
    padding: 10px 15px;
    font-size: 20px;
    background: black;
    color: white;
    border-radius: 5px;
    margin-left: 55%;
    margin-top: 10%;
}

/* Section 5 */

/* Responsive for Mobile */

@media only screen and (max-width:400px) {

    .sec1{
        margin-top: -7%;
    }

    .div33 {
        width: 100%;
        height: auto;
        margin-bottom: 3%;
    }
    
}
